body{
    background-color:white;
}

.inner1{
    width:50%;
    margin-left: -2em;
    margin-top: 4em;
    float: left;
}

.inner2{
    width:15%;
    float: left;
    margin-left: -5%;
    
}

.inner2 img{
    width:100%;
}

.inner3{
    width:45%;
    margin-top: -10.5%;
    float: right;
    margin-right: 1%;
}

.colegio{
    width:50%;
    margin-top: 4em;
    float: left;
}

.hobby{
    width:50%;
    margin-top: 4em;
    float: left;
}

/*div#principal{
    color: white;
    background: rgb(207, 67, 162);
    border-radius: 0.25em;
    display: inline-block;
    margin: 0.25em auto;
    max-width: 1290px;
    min-height: 30px;
    padding: 0.25em;
    text-align: center;
    vertical-align: top;
    float: left;
    width:35%;
    text-decoration: none;
}*/



.inicio{
    width:50%;
    margin-right:2%;
}

.inicio a img{
    width:30%;
    margin-left:80%;
}

.botones{
    float:left;
    width:30%;
	min-height:18px;
    background: rgb(207, 67, 162);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 35px;
    font-size: 2vw;
    font-weight: bold;
    color: #FFFFFF;
    margin:0px 0px;
    text-decoration: none;
    list-style:none;
}

.botones2{
    float:left;
    width:33%;
	min-height:18px;
    background: rgb(207, 67, 162);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 35px;
    font-size: 2vw;
    font-weight: bold;
    color: #FFFFFF;
    margin:0px 0px;
    text-decoration: none;
    list-style:none;
}

a .botones:hover{
    background:  rgb(4, 226, 255);
}

a .botones:active{
    background: #00194B;
}

a .botones2:hover{
    background:  rgb(4, 226, 255);
}

a .botones2:active{
    background: #00194B;
}



.botonesF{
    float:left;
    width:33%;
	min-height:18px;
    background: rgb(67, 207, 102);
    text-align: center;
    line-height: 35px;
    font-size: 2vw;
    font-weight: bold;
    color: #FFFFFF;
    margin:0px 0px;
    text-decoration: none;
    list-style:none;
}

a .botonesF:hover{
    background:  rgb(4, 226, 255);
}

a .botonesF:active{
    background: #00194B;
}
#volverBtn{
    float:left;
}