body{
    background-color: aliceblue;
}
header{
    border-radius: 10px;
    background-color: crimson;
    width: 200px;
    height: 50px;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
}
nav{
    min-width: 200px;
    min-height: 40px;
    background-color: aquamarine;
    padding: 5px;

}
nav, a{
    padding-left: 5px;
    padding-right: 5px;
}
nav, a:hover{
    color: rgb(61, 61, 61);
}
#volverBtn{
    float:left;
}